$admin-color-palette: (
    Menu Background: (
        default: #23282d
    ),
    List Grey: (
        default: #f9f9f9
    ),
    HR Line: (
        default: #eee
    ),
    Delete Colors: (
        default: #a00,
        hover: red
    ),
    Link Colors: (
        default: #0073aa,
        hover: #00a0d2
    )
);